* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.existing-members-login {
  height: 23px;
  font-size: .9em;
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.login {
  background-color: #0077C5;
  color: white;  
  font-size: 1.3em;
  margin: 5px;
  padding: 3px 10px 3px 10px;
  border-radius: 10%;
}

.login:hover {
  margin-left: 4px;    
  border-left: 3px solid black;  
  border-bottom: 4px solid black;
}

.logo-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;    
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;    
}

.form-container { 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  font-weight: 1;
  width: 380px;
  border: 1px solid lightgray;
  padding: 10px;  
}

.large {
  font-size: 1.3em;
}

form {
  width: 320px;  
  margin-top: 20px;
}

.form-container label{  
  display: block;
  text-align: left;
  margin: 5px;;
}

.form-container input{
  width: 100%;
  font-size: 1.3em;
  display: block;
  text-align: left;
  margin-bottom: 30px;
}

.form-container .phone {
  margin-bottom: 3px;
} 

.phone-note { 
  text-align: left; 
  font-size: .8em;
  margin-bottom: 30px;
}