* {
  margin: 0;
  padding: 0;
}


div {  
}
.existing-members-login {
  height: 23px;
  font-size: .9em;
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.login {
  background-color: #0077C5;
  color: white;  
  font-size: 1.3em;
  margin: 5px;
  padding: 3px 10px 3px 10px;
  border-radius: 10%;
}

.login:hover {
  margin-left: 3px;    
  border-left: 4px solid black;  
  border-bottom: 5px solid black;
}

.logo-container {
  display: flex;  
  justify-content: center;
  align-content: center;  
}
